* {
  margin: 0;
  box-sizing: border-box;
}

header,
footer {
  flex-basis: 100%;
  background-color: gray;
  min-height: 6vh;
  text-transform: uppercase;
  border: 1px solid black;
}
.container {
  background-color: darkslategray;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}
section {
  flex: 1 0 auto; /*Deixar o espaço totalmente dedicado a isso.*/
  display: grid;
  padding: 10px;
  min-height: 100vh;
  gap: 15px 10px;
  grid-auto-rows: minmax(80px, auto);
  grid-template-columns: repeat(3, 1fr);
  grid-template-areas: "item1 item2 item3" "item4 item4 item4" "item5 item5 item6";
}

.item {
  width: 100%;
  min-height: 10vh;

  padding: 9px;
  background-color: whitesmoke;
  border: 1px solid black;
}
.item1 {
  grid-area: item1;
  min-width: 210px;
}
.item2 {
  grid-area: item2;
  min-width: 210px;
}
.item3 {
  grid-area: item3;
  min-width: 210px;
}
.item4 {
  grid-area: item4;
}
.item5 {
  grid-area: item5;
  min-width: 320px;
}
.item6 {
  grid-area: item6;
  min-width: 220px;
}
@media (max-width: 780px) {
  section {
    grid-template-areas:
      "item1 item1 item1"
      "item2 item2 item2"
      "item3 item3 item3"
      "item4 item4 item4"
      "item5 item5 item6";
  }
}
@media (max-width: 630px) {
  section {
    grid-template-areas:
      "item1 item1 item1"
      "item2 item2 item2"
      "item3 item3 item3"
      "item5 item5 item5"
      "item6 item6 item6";
  }
}
@media (max-width: 360px) {
  .item5 {
    min-width: auto;
  }
}
